/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@font-face {
    font-family: newFont;
    src: url(includes/fonts/GSFONTT.ttf);
}

body
{
	
	font-size:20px; 
     font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
    
}

::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-button {  background-color:#333; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color:#F0F0F0;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #000; border-radius: 0px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #665;}


/*///////////////////////////////////////*/
/*////////// Navigation /////////////////*/
/*///////////////////////////////////////*/
.col-sm-6{
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-4>li{
    text-decoration: none;         
}

.navbar
{
	
	border:none;
    background-color: rgba(0, 0, 0,0.6);
    min-height: 80px;
    padding-right:25px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
}

.navbar-inverse .navbar-brand{
font-size: 32px;
margin-top: 15px;
color: #FFF;
}


.navbar-nav
{
	margin-top: 15px;
    font-size: 15px;   
}

.navbar-nav>li
{
	padding-left: 35px;
    background:none;
    font-style: italic;
    
}

.navbar-toggle
{
	margin-top:20px;
}

.navbar-collapse
{
	border:none;
}

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 40px;
}

a {
  color: #FFF;
  text-decoration: none;
}
li{
list-style-type: none;
}



#followus-footer{
text-align: ;left;
}

#quicklinks-footer{
text-align:center;
}
/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */

/* --------------------------------------
   Navbar
   -------------------------------------- */
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
/* --------------------------------------
   Global Styles
   -------------------------------------- */

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

    
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    
}
    

/* Large desktop */
@media (min-width: 1200px) {
    
}

